<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav id="ec-logo" class="my-3">
		<img src="resources/img/ec-logo.png"
			alt="Electronic Engineering Department" class="ec-logo">
		<div class="header d-inline-block ms-4 mt-3 text-secondary">ELECTRONIC
			ENGINEERING DEPARTMENT</div>
		<div class="social-media mt-5">
			<a href="www.facebook.com"><img th:src="@{/resources/img/facebook.png}" alt="facebook logo" class="social-link"></a>
			<a href="www.instagram.com"><img th:src="@{/resources/img/instagram.png}" alt="instagram logo" class="social-link"></a>
			<a href="www.twitter.com"><img th:src="@{/resources/img/twitter.png}" alt="twitter logo" class="social-link"></a>
		</div>
	</nav>
</body>
</html>