<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://kit.fontawesome.com/0dc3600b72.js"
	crossorigin="anonymous"></script>
</head>
<body>
	<!-- Custom Menu Bar -->
	<div id="custom-menu" class="custom-menu-bar mb-3">
	  <div class="custom-left-menu">
	      <a href="#">Home</a>
	      <!-- Custom Department dropdown -->
	      <div class="custom-dropdown">
	        <button class="custom-dropbtn">Department <i class="fa-solid fa-angle-down"></i></button>
	        <div class="custom-dropdown-content">
	          <a href="#vision-mission">Vision &amp; Missions</a>
	          <a href="#professors">Our Professors</a>
	          <a href="/theses">Thesis Title by Academic Year</a>
	          <a href="#">Student Feedback</a>
	      </div>
	  </div>
	  <a href="#">Admissions</a>
	  <a href="#">News &amp; Events</a>
	  <a href="#">Contact Us</a>
	
	  </div>
	  <!-- Custom Right-side menu items -->
	  <div class="custom-right-menu">
	    <a href="#">Login</a>
	    <a href="#">Create Account</a>
	    <a href="#">About</a>
	  </div>
	</div>
</body>
</html>