<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<script src="https://kit.fontawesome.com/f0b4d212f8.js"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/0dc3600b72.js"
	crossorigin="anonymous"></script>


<link rel="stylesheet"
	th:href="@{/resources/vendors/css/bootstrap.min.css}" />
<script th:src="@{/resources/vendors/js/bootstrap.bundle.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{resources/css/home.css}">


<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/resources//vendors/favicon/android-chrome-192x192.png}">
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/resources/vendors/favicon/android-chrome-512x512.png}">
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/resources/vendors/favicon/apple-touch-icon.png}">
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{/resources/vendors/favicon/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/resources/vendors/favicon/favicon-16x16.png}">
<link rel="manifest"
	th:href="@{resources/vendors/favicon/site.webmanifest}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


<title>feedback</title>
</head>
<body>
	<!-- EC-LOGO -->
	<div th:replace="~{fragments/ec-logo :: #ec-logo}"></div>
	<!-- CUSTOM MENU -->
	<div th:replace="~{fragments/menu-bar :: #custom-menu}"></div>

	<div class="my-4 container-xxl px-5">

		<form>
			<div class="card mt-4 w-50">
				<div class="card-header">
					<div class="card-title">Student Evaluation Sheet</div>
				</div>
				<div class="card-body">

					<div class="row g-5 align-items-center mb-3">

						<div class="col-3">
							<label for="teacher" class="col-form-label">Teacher Name</label>
						</div>
						<div class="col-auto">
							<input type="text" class="form-control"
								th:value="${param.teacher}" name="teacher">
						</div>

					</div>

					<div class="row g-5 align-items-center mb-3">

						<div class="col-3">
							<label for="year" class="col-form-label">Student Year</label>
						</div>
						<div class="col-auto">
							<select name="year" id="year" class="form-select">
								<option value="">Select Year</option>
								<option th:each="year : ${years}" th:value="${year.currentYear}"
									th:text="${year.currentYear}"
									th:selected="${year.id} == param.year"></option>
							</select>
						</div>

					</div>
					<button class="btn btn-outline-success my-2 my-sm-0 float-end"
						type="submit">Search</button>
				</div>
			</div>

		</form>

		<div class="alert alert-info mt-4"
			th:if="${#lists.isEmpty(subject)} "
			th:unless="${#strings.isEmpty(param.teacher)} and ${#strings.isEmpty(param.year)}">
			Currently [[${param.teacher}]] is not teaching at [[${param.year}]]</div>

		<div th:unless="${#lists.isEmpty(subject)}">
			<div class="mt-4">
				<table class="table">
					<thead>
						<tr th:each="sub : ${subject}">
							<th th:text="${sub.name}"></th>
							<th th:text="${sub.teacherName}"></th>
							<th th:text="${sub.code}"></th>
						</tr>
					</thead>
					<tbody>
					<tbody>
						<tr>
							<td class="form-label question-font">
								<p class="about-para">1. Does the teacher appear to be
									well-versed in this subject area?</p>
							</td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">2</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">4</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5</label>
								</div>


							</td>
							<td></td>
						</tr>
						<tr>
							<td class="form-label question-font first-header-width">
								<p class="about-para">2. Is the teacher enthusiastic in
									teaching this subject?</p>
							</td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">2</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">4</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5</label>
								</div>


							</td>
							<td></td>
						</tr>

						<tr>
							<td class="form-label question-font">
								<p class="about-para">3. Is the teacher well prepared for
									the class.</p>
							</td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">2</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">4</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5</label>
								</div>


							</td>
							<td></td>
						</tr>
						<tr>
							<td class="form-label question-font first-header-width">
								<p class="about-para">4. Does the teacher explain the
									lessons clearly?</p>
							</td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">2</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">4</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5</label>
								</div>


							</td>
							<td></td>
						</tr>

						<tr>
							<td class="form-label question-font"><p class="about-para">
									5.Does the teacher provide opportunities to ask for unclear
									lectures?</p></td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">2</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">4</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5</label>
								</div>


							</td>
							<td></td>
						</tr>
						<tr>
							<td class="form-label question-font first-header-width">
								<p class="about-para">6.Does the teacher provide useful
									feedback and good advice?</p>
							</td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">2</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">4</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5</label>
								</div>


							</td>
							<td></td>
						</tr>

						<tr>
							<td class="form-label question-font">
								<p class="about-para">7. Can the teacher teach this subject
									effectiely?</p>
							</td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">2</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">4</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5</label>
								</div>


							</td>
							<td></td>
						</tr>
						<tr>
							<td class="form-label question-font first-header-width">
								<p class="about-para">8. Does the teacher treat all students
									fairly?</p>
							</td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">2</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">4</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5</label>
								</div>


							</td>
							<td></td>
						</tr>

						<tr>
							<td class="form-label question-font"><p class="about-para">
									9. Can the teacher control the class well?</p></td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">2</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">4</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5</label>
								</div>


							</td>
							<td></td>
						</tr>
						<tr>
							<td class="form-label question-font first-header-width">
								<p class="about-para">10 Does the teacher give the
									assignment, exercise and make ?</p>
							</td>
							<td>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">1</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">2</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">3</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox2" value="option2"> <label
										class="form-check-label" for="inlineCheckbox2">4</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox"
										id="inlineCheckbox1" value="option1"> <label
										class="form-check-label" for="inlineCheckbox1">5</label>
								</div>


							</td>
							<td></td>
						</tr>



					</tbody>
					</tbody>
				</table>

			</div>
		</div>

	</div>
</body>
</html>