<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/f0b4d212f8.js"
	crossorigin="anonymous"></script><script src="https://kit.fontawesome.com/0dc3600b72.js"
	crossorigin="anonymous"></script>


<link rel="stylesheet"
	th:href="@{/resources/vendors/css/bootstrap.min.css}" />
<script th:src="@{/resources/vendors/js/bootstrap.bundle.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{resources/css/home.css}">


<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/resources//vendors/favicon/android-chrome-192x192.png}">
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/resources/vendors/favicon/android-chrome-512x512.png}">
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/resources/vendors/favicon/apple-touch-icon.png}">
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{/resources/vendors/favicon/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/resources/vendors/favicon/favicon-16x16.png}">
<link rel="manifest"
	th:href="@{resources/vendors/favicon/site.webmanifest}">

<title>Electronic Engineering Department</title>
</head>
<body>
	<!-- EC-LOGO -->
	<div th:replace="~{fragments/ec-logo :: #ec-logo}"></div>
	<!-- CUSTOM MENU -->
	<div th:replace="~{fragments/menu-bar :: #custom-menu}"></div>

	<div class="my-4 container-xxl px-5">
		<!-- DEPARTMENT IMAGE -->
		<img src="resources/img/ec.png" class="img-fluid"
			alt="Electronic Engineering Department">


		<!-- WELCOME TO EC -->
		<div class="row  ec-depart">
			<div class="col-7 mt-5">
				<h3 class="text-center">Welcome to Electronic Engineering
					Department</h3>
				<p class="px-4 pt-3 about-para">Our department is a hub of
					innovation and excellence, committed to preparing future engineers
					and technologists to shape the evolving world of electronics and
					communication systems.</p>
				<p class="px-4 about-para">Our department offers comprehensive
					undergraduate and post-graduate programs designed to provide a
					solid foundation in both theoretical knowledge and practical
					skills. Our curriculum covers a wide range of topics, including
					Digital and Analog</p>
				<a th:href="@{/department-info}" class="btn-rectangular mx-4">Read
					More &rarr;</a>
			</div>
			<div class="col-5">
				<img th:src="@{resources/img/ec.png}" class="diagonal-border-radius"
					alt="Electronic Engineering Department" />
			</div>
		</div>
	</div>
	<!-- VISION & MISSION -->
	<div id="vision-mission" class="custom-background">
		<div class="container-xl custom-container mt-5">
			<div class="row">
				<div class="col-md-12">
					<h2>Our Vision &amp; Mission</h2>
				</div>
				<div class="col-md-6 custom-column">
					<p>To be a global leader in innovative solutions that empower
						businesses and enrich communities.</p>
					<p>To deliver exceptional products and services that exceed our
						customers' expectations through innovation, quality, and
						sustainability.</p>
				</div>
				<div class="col-md-6 custom-image">
					<img src="vision-mission.jpg" alt="Vision and Mission">
				</div>
			</div>
		</div>
	</div>

	<!-- TEACHERS INFORMATION -->
	<div id="professors" class="my-4 container-xxl px-5">
		<div class="row mb-3">
			<h2 class="text-center mb-4">Our Professors</h2>
			<div class="col-5">
				<img th:src="@{resources/img/human1.jpeg}"
					class="diagonal-border-radius"
					alt="Electronic Engineering Department" />
				<h2 th:text="'Dr. Tin Tin Hla'"></h2>
				<p th:text="'Professor and Head of Department'"></p>
			</div>
			<div class="col-7">
				<p class="about-para">At vero eos et accusamus et iusto odio
					dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
					atque corrupti quos dolores et quas molestias excepturi sint
					occaecati cupiditate non provident, similique sunt in culpa qui
					officia deserunt mollitia animi, id est laborum et dolorum fuga. Et
					harum quidem rerum facilis est et expedita distinctio. Nam libero
					tempore, cum soluta nobis est eligendi optio cumque nihil impedit
					quo minus id quod maxime placeat facere possimus, omnis voluptas
					assumenda est, omnis dolor repellendus. Temporibus autem quibusdam
					et aut officiis debitis aut rerum necessitatibus saepe eveniet ut
					et voluptates repudiandae sint et molestiae non recusandae. Itaque
					earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
					voluptatibus maiores alias consequatur aut perferendis doloribus
					asperiores repellat.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-4  ">
				<p class="about-para mt-2">Dr. Maung Aye and Daw Hnin Ngwe Yee
					Pwint serve as Associate Professors in the Electronics Department
					at MTU With their wealth of experience and commitment to academic
					excellence, they play a pivotal role in shaping the future of our
					students and contributing to the advancement of our department.</p>
				<div class="row mb-4">
					<div class="col-12 text-left">
						<a th:href="@{/teachers}" class="btn btn-secondary">More
							Teachers</a>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="row">
					<div class="col-6 teacher">
						<img th:src="@{resources/img/human1.jpeg}"
							class="diagonal-border-radius"
							alt="Electronic Engineering Department" />
						<h2 th:text="'Dr. Maung Aye'"></h2>
						<p th:text="'Associate Professor'"></p>
					</div>
					<div class="col-6 teacher">
						<img th:src="@{resources/img/human1.jpeg}"
							class="diagonal-border-radius"
							alt="Electronic Engineering Department" />
						<h2 th:text="'Daw Hnin Ngwe Yee Pwint'"></h2>
						<p th:text="'Associate Professor'"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- STUDENT INFORMATION -->
	<div id="thesis" class="my-4 container-xxl px-5">
		<h3 class="text-center">Student Thesis Information</h3>
		<div class="row mt-3">
			<div class="col-5">
				<p class="about-para ">A student thesis is a comprehensive
					academic document that represents the culmination of extensive
					research and scholarship in a specific field of study. It typically
					includes a clear research question, a review of relevant
					literature, detailed methodology, data analysis, and the
					presentation of findings. The thesis process encourages students to
					develop critical thinking, project management, and academic writing
					skills, providing a significant opportunity to contribute original
					knowledge to their discipline and demonstrate their expertise to
					academic and professional communities.</p>
				<p class="about-para">
					We collect details about thesis titles of other graduated students.
					You can reference <a th:href="@{/theses}">here</a>.
				</p>
			</div>

			<div class="col-7">
				<div class="row mt-3">
					<div class="col-6">
						<img th:src="@{resources/img/thesis-1.png}" class="thesis-img"
							alt="" /><br> <img th:src="@{resources/img/thesis-2.png}"
							class="thesis-img" alt="" />
					</div>
					<div class="col-6">
						<img th:src="@{resources/img/thesis-3.png}" class="thesis-img"
							alt="" /> <img th:src="@{resources/img/thesis-4.png}"
							class="thesis-img" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Student Feedback  -->
	<div class="my-4 container-xxl px-5">

		<h3 class="my-3 text-center" th:text="#{feedback.title}"></h3>

		<p class="about-para">
			<span class="ms-5"></span>A feedback system is a crucial component of
			an electronic department management system, particularly in
			educational institutions. It primarily aimed at improving the overall
			quality of education and ensuring that the teaching methods, skills,
			and knowledge imparted by teachers meet the standards and
			expectations of the institution and its students.
		</p>

		<p class="about-para">
			<span class="ms-5"></span>Feedback forms play a critical role in
			measuring teacher performance by allowing students to evaluate
			aspects such as subject knowledge, clarity in teaching, and overall
			methodology. This information helps management identify both
			strengths and areas needing improvement, ensuring high teaching
			standards. Constructive feedback also enables teachers to refine
			their methods, making their teaching more effective and better suited
			to students' needs.
		</p>
		<p class="about-para">
			<span class="ms-5"></span> Moreover, feedback helps assess teacher
			suitability for specific subjects, ensuring they are assigned roles
			where they can be most effective. It also promotes a culture of
			continuous improvement, guiding professional development and
			institutional enhancements. By valuing student input, the feedback
			system increases engagement and satisfaction, fostering a more
			responsive and inclusive educational environment. Therefore, it is
			crucial for students to regularly submit feedback forms each
			semester.
		</p>
		<div class="d-flex justify-content-end">
			<a th:href="@{/feedback}" class="btn btn-primary "> Feedback<i
				class="bi bi-chevron-double-right"></i>
			</a>
		</div>
	</div>

</body>
</html>