<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Thesis Information</title>
<link rel="stylesheet"
	th:href="@{/resources/vendors/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{resources/css/thesis-info.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{resources/css/home.css}">
<script th:src="@{/resources/js/menu-bar-navigation-link.js}"></script>	
</head>
<body>
	<!-- EC-LOGO -->
	<div th:replace="~{fragments/ec-logo :: #ec-logo}"></div>
	<!-- CUSTOM MENU -->
	<div th:replace="~{fragments/menu-bar :: #custom-menu}"></div>

	<div class="container">
		<div class="academic-year">
			<form action="/theses" method="get">
				<button class="navigation" name="year" th:value="${previousYear}">&lt;</button>
				<span id="academic-year" th:text="${year}">2022-2023</span>
				<button class="navigation" name="year" th:value="${nextYear}">&gt;</button>
			</form>
		</div>
		<div class="alert alert-info" th:unless="${theses}">During Covid-19 , Universities in Myanmar are closed from April 2019 to December 2021</div>
		<table th:if="${theses}" id="student-table">
			<thead>
				<tr>
					<th>No</th>
					<th>Name</th>
					<th>Thesis Title</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="thesis : ${theses}">
					<td th:text="${thesis.rollNo}">1</td>
					<td th:text="${thesis.name}">John Doe</td>
					<td th:text="${thesis.thesisTitle}">The Impact of Renewable
						Energy on Climate Change</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
